<h2><%= @user.merchant.name %></h2>
<p><%= @user.merchant.address %> <%= @user.merchant.city %>, <%= @user.merchant.state %> <%= @user.merchant.zip %></p>
<%= link_to "My Shop Items", "/merchant/items" %>
