<h1>Orders</h1>

<% @orders.each do |order| %>
  <section id="order-<%= order.id %>">
    <p>Name:  <%= link_to order.user.name, "/admin/users/#{order.user.id}" %></p>
    <p>Order ID: <%= order.id %></p>
    <p>Order Created At: <%= order.created_at %></p>
    <p>Status: <%= order.status %></p>
    <% if order.packaged? %>
      <%= button_to "Ship Order", "/admin/orders/#{order.id}", method: :patch %>
    <% end %>
  </section>
<% end %>
