<h1>Orders</h1>

<section class="grid-container">
  <% @orders.each do |order| %>
    <section class="grid-item" id="order-<%= order.id %>">
      <h4><%= link_to order.user.name, "/admin/users/#{order.user.id}" %></h4>
      <p><%= link_to "Order ID: #{order.id}", "/admin/users/#{order.user.id}/orders/#{order.id}" %></p>
      <p>Created: <%= order.created_at %></p>
      <p>Status: <%= order.status.capitalize %></p>
      <% if order.packaged? %>
        <%= button_to "Ship Order", "/admin/users/#{order.user_id}/orders/#{order.id}/ship", method: :patch %>
      <% end %>
    </section>
  <% end %>
</section>
