<h1> Update Your Profile </h1>
<%= form_tag '/profile', method: :patch do %>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>

  <%= label_tag :password_confirmation %>
  <%= password_field_tag :password_confirmation %><br>

  <%= submit_tag "Submit", class: "button"%>
<% end %>
