<h1><%= "You are logged in as #{@user.name}" %></h1>

<h3>Name: <%= @user.name %></h3>
<h3>Address: <%= @user.address %></h3>
<h3>City: <%= @user.city %></h3>
<h3>State: <%= @user.state %></h3>
<h3>Zip: <%= @user.zip %></h3>
<h3>Email: <%= @user.email %></h3>
<%= link_to "Edit Your Profile", "/profile/edit" %>
<%= link_to "Edit Your Password", "/profile/edit_password" %>
<%= link_to "My Orders", "/profile/orders" %>
